@import '/node_modules/font-awesome/css/font-awesome.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] { display: none !important; }
}

@layer utilities {
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}